@import '../../main-style.scss';

.budget-item-section{
    display: flex;
    padding: 50px;

    justify-content: center;
    align-items: center;

    .budget-item-container{
        display: flex;
        max-width: 700px;
        height: 100%;
        width: 100%;

        .income-column, .expenses-column{
            display: flex;
            flex-direction: column;
            flex-basis: 0; //same size column, regardless of the content
            flex-grow: 1;

            h1{
                font-family: Lato;
                font-size: 24px;
                font-weight: 900;
            }
        }

        .income-column{
            margin-right: 30px;
            h1{
                color: $green;
            }
        }
        
        .expenses-column{
            h1{
                color: $red;
            }
        }
    }
}
