//define global style and change variables

@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Lato:300,900|Exo:300,500,900');

// Set your brand colors
$purple: rgb(155, 103, 239);
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$light-grey: #f5f5f5;
$dark-blue: rgb(22, 28, 41);

$green: #00dc87;
$light-green: #bafacf;

$red: #dc1200;
$light-red: #f5d1cf;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;

$primary: $dark-blue;
$link: $dark-blue;

// Update some of Bulma's component variables
$body-background-color: rgb(248, 248, 255);
$control-border-width: 1px;
$input-background-color: $light-grey;
$control-border-color: transparent  ;
$input-shadow: none;